// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins

@mixin body-font {
  font-family: 'Droid Serif', serif;
}

@mixin heading-font {
   font-family: 'Amatic SC', cursive;
}

@mixin sub-font {
    font-family: 'Montserrat', sans-serif;
}